{% extends 'polls/base.html' %}
{% load static %}
{% block content %}
<div class="mdl-grid portfolio-max-width">
  <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">About MEAD</h2>
    </div>
    <div class="mdl-grid portfolio-copy">
      <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">Introduction</h3>
      <div class="mdl-cell mdl-cell--8-col mdl-card__supporting-text no-padding ">
        <p>
          MEAD stands for MEdicare with Adaptive Diagnosis system. It's a AI assistant for doctors to help patients with faster
          and more accurate diagnosis, developed by Rzhetsky lab at the University of Chicago.
        </p>
        <p>
          For any questions, contact chaozhang@uchicago.edu
        </p>
      </div>
    </div>
  </div>


</div>
{% endblock content %}
